body {
  background-color: black;
}

img {
  width: 500px;
  height: auto;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  text-align: center;
  font-family: 'Pathway Gothic One';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.user-type {
  color: white;
}

.form-container form select {
  margin-left: 18px;
  border-radius: 15px;
  width: 100px;
  height: 30px;
}

.form-container form input {
  margin-left: 10px;
  border-radius: 15px;
  width: 200px;
  height: 30px;
}

.form-container button {
  color: black;
  width: 80px;
  height: 35px;
  border-radius: 15px;
  margin-left: 10px;
}



.form-container form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.form-container form div {
  width: 100%;
  text-align: left;
}

.results {
  color: white;
}

.image-container {
  margin: 15px auto;
  width: 100%;
  height: 510px;
}

.image-container img {
  height: 100%;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table-container .results, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
}

.table-container .results {
  width: 80%;
}

.table-container .results tr th{
  font-weight: 200px;
  font-size: 18px;
  border: 1px solid white;
  font-family: 'Courier New', monospace;
  color: #FFE81F;
}

.header h1 {
  color: #FFE81F;
  font-family: 'Courier New', monospace;
}

.footer {
  position: absolute;
  top: 1500px;
  border-top: 1px solid white;
  display: flex;
  justify-content: left;
  height: 75px;
  width: 100%;
  margin-top: auto;
}

.footer h2 {
  color: #FFE81F;
  font-family: 'Courier New', monospace;
  margin-left: 15px;
}